.workspaces button {
  padding: 0 4px;
  font-weight: normal;
  min-width: 0;
  min-height: 0;
  border-radius: 0;
  background-color: #333;
}

.workspaces button:hover {
  background-color: #333;
}

.workspaces button.empty {
  color: #555;
}

.workspaces button.focused {
  color: #09f;
}

.pill-right .workspaces button:last-child {
  border-radius: 0 18px 18px 0;
}
