.powermenu {
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 20px;
}

.powerbutton {
  font-size: 60px;

  &:hover {
    color: #ffffff;
    border-radius: 20px;
  }
}

.poweroff {
  color: #fb2340;

  &:hover {
    background-color: #fb2340;
  }
}

.reboot {
  color: #ffa05c;

  &:hover {
    background-color: #ffa05c;
  }
}

.suspend {
  color: #f5ec66;

  &:hover {
    background-color: #f5ec66;
  }
}

.lock {
  color: #44d593;

  &:hover {
    background-color: #44d593;
  }
}

.logout {
  color: #88f7e2;

  &:hover {
    background-color: #88f7e2;
  }
}
