.powermenu {
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 20px;
  padding: 48px;
}

flowboxchild {
  outline: unset;
}

.powerbutton {
  min-width: 48px;
  min-height: 48px;
  padding: 20px;
  border-radius: 100px;

  label {
    font-size: 24px;
  }

  &:hover {
    color: #ffffff;
  }
}

.poweroff {
  color: #fb2340;

  &:hover {
    background-color: #fb2340;
  }
}

.reboot {
  color: #ffa05c;

  &:hover {
    background-color: #ffa05c;
  }
}

.suspend {
  color: #f5ec66;

  &:hover {
    background-color: #f5ec66;
  }
}

.lock {
  color: #44d593;

  &:hover {
    background-color: #44d593;
  }
}

.logout {
  color: #88f7e2;

  &:hover {
    background-color: #88f7e2;
  }
}
