* {
  font-family: Noto Sans;
  font-size: 13.333333px;
}

window.bar {
  background-color: rgba(0, 0, 0, 0);
}

.bar {
  min-height: 36px;
}

.workspaces {
  background-color: #333;
  padding: 0 14px 0 8px;
  border-radius: 0 18px 18px 0;
}

.workspaces button {
  padding: 0 4px;
  font-weight: normal;
  min-width: 0;
  min-height: 0;
  border-radius: 0;
  background-color: #333;
}

.workspaces button:hover {
  background-color: #333;
}

.workspaces button.empty {
  color: #555;
}

.workspaces button.focused {
  color: #09f;
}

.active-window,
.media-controls,
.tray,
.status {
  background-color: #333;
  border-radius: 18px;
  padding: 0 12px;
}

.media-controls button {
  background-color: #333;
}

.tray button {
  background: #333;
  padding: 0 4px;
}

.clock {
  background-color: #333;
  padding: 0 8px 0 12px;
  border-radius: 18px 0 0 18px;
}
