* {
  font-family: Noto Sans;
  font-size: 13.333333px;
}

@import url("./bar/bar.css");
@import url("./widgets.css");

button.base {
  padding: 0;
  min-width: 0;
  min-height: 0;
  border-radius: 0;
  font-weight: normal;
  background-color: #333;
}
