.media-controls button {
  background-color: #333;
  padding: 0 4px;
}

.media-controls button label {
  font-size: 20px;
}

button.media-prev {
  padding: 0;
}

button.media-next {
  padding-right: 0;
}

.media-controls button:hover {
  color: #7be;
}

.media-controls {
  padding-right: 0;
}

.media-buttons {
  padding-right: 6px;
}

.player-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: darken;
  padding-left: 8px;
  padding-right: 8px;
}

.pill .player-cover {
  border-radius: 0 18px 18px 0;
  padding-right: 12px;
}
